[
 {rabbit_webhooks, 
	[{webhooks, 
		[{test_one, 
			[{url, "http://localhost:5983/oja"},
			 {method, post},
			 {exchange, [{exchange, <<"webhooks.test">>},
									 {type, <<"topic">>},
									 {auto_delete, false},
									 {durable, true}]},
			 {queue, [{queue, <<"webhooks.test.q">>},
								{durable, true},
								{auto_delete, false}]},
			 {routing_key, <<"#">>}
			 %{max_send, {5, minute}},
			 %{send_if, [{between, {13, 24}, {13, 25}}]}
			]}
		]}
	]}
].
