[
  {rabbit_webhooks, [
    {username, <<"guest">>},
    {virtual_host, <<"/">>},
    {webhooks, [
      {test_one, [
        {url, "http://localhost:8098/riak/status"},
        {method, post},
        {exchange, [
          {exchange, <<"webhooks.test">>},
          {type, <<"topic">>},
          {auto_delete, true},
          {durable, false}
        ]},
        {queue, [
          {queue, <<"webhooks.test.q">>},
          {auto_delete, true}
        ]},
        {routing_key, <<"#">>},
        {max_send, {5, second}},
        {send_if, [{between, {08, 00}, {17, 00}}]}
      ]}
    ]}
  ]}
].